@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --highlight: #bb17df;
    --opaque-hover: #D987EB;
    --highlight-text: #F9F9F9;
    --dark-text: #373737;
    --highlight-opaque: #F8F9FD;
    --bg-color: #FFFFFF;
    --succesfull: #008A0E;
    --error: #D01919;
    --border-radius: 0.7rem;
    --border-solid: solid 0.01rem rgba(0, 0, 0, 0.09);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    box-sizing: border-box;
    color: var(--dark-text);
}

body {
    width: 100%;
    height: 100vh;
}

#main-section {
    width: 100%;
    height: 50rem;
    display: flex;
    padding: 1rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--highlight-opaque);
}

.card {
    display: inline-block;
    width: 13rem;
    height: 21rem;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-right: 1rem;
    border: var(--border-solid);
    transition: 0.3s cubic-bezier(0, .37, .32, 1);
    box-shadow: 0px 47px 13px 0px rgba(0, 0, 0, 0.00), 0px 30px 12px 0px rgba(0, 0, 0, 0.00), 0px 17px 10px 0px rgba(0, 0, 0, 0.01), 0px 7px 7px 0px rgba(0, 0, 0, 0.02), 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
}

.card:hover{
    scale: 1.07;
    position: relative;
    bottom: 0.8rem;
    transition: 0.3s cubic-bezier(0, .37, .32, 1);
}

.cover {
    width: 13rem;
    position: relative;
    top: 1rem;
}

.image {
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc {
    width: 100%;
    height: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.destacado {
    color: var(--highlight);
}

.album-name {
    font-size: 1.05em;
    text-transform: capitalize;
}

.cost {
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0.1rem 0rem 0.5rem 0rem;
}

.fill {
    font-size: 0.8rem;
    opacity: 0.7;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 1rem;
}